<article class="flex flex-column items-center pa3 black bg-white sans-serif pv4 pv5-m pv6-l" id="events">
  <div class="flex flex-column w-100 mw7">

    <h1 class="sans-serif ttu tracked w-100 bb pb2 bw2 b--black">Upcoming Events</h1>

    <div class="flex flex-column mt3">
      <p class="f3 b ttu sans-serif ma0">Water Baptism</p>
      <p class="f6 f5-ns">
        February, 2020
      </p>
    </div>
    <div class="flex flex-column mt3">
      <p class="f3 b ttu sans-serif ma0">Family Camp</p>
      <!-- <p class="f6 f5-ns">
        March 8-10, 2020
      </p> -->
    </div>

  </div>
</article>
