<article class="flex flex-column items-center pa3 black bg-white sans-serif pv4 pv5-m pv6-l" id="ministries">
  <div class="flex flex-column w-100 mw7">

    <h1 class="sans-serif ttu tracked w-100 bb pb2 bw2 b--black border-box mb4">Ministries</h1>

    <div class="flex flex-column flex-row-ns justify-around-ns flex-wrap mb4">

      <div class="w-100 grow mb3">
        <h1 class="lh-title ttu f4">Sunday School</h1>
        <div class="">
          <p class="f6 f5-ns lh-copy mv0">
            Runs during the service, in both English and Tamil. Registration and parent check-in required.
          </p>
        </div>
      </div>

      <div class="w-100 grow mb3">
        <h1 class="lh-title ttu f4">Local Prayer Meeting / Bible Study</h1>
        <div class="">
          <p class="f6 f5-ns lh-copy mv0">
            Held every Friday at 7PM at different venues.
          </p>
        </div>
      </div>

      <div class="w-100 grow mb3">
        <h1 class="lh-title ttu f4">Skype Prayer</h1>
        <div class="">
          <p class="f6 f5-ns lh-copy mv0">
            Every weekday from 6-7AM, and 9-10PM
          </p>
        </div>
      </div>

      <div class="w-100 grow mb3">
        <h1 class="lh-title ttu f4">Fasting and Prayer</h1>
        <div class="">
          <p class="f6 f5-ns lh-copy mv0">
            First Saturday of the month at 10AM
          </p>
        </div>
      </div>

      <div class="w-100 grow mb3">
        <h1 class="lh-title ttu f4">Youth Meeting and Study</h1>
        <div class="">
          <p class="f6 f5-ns lh-copy mv0">
            Third Saturday of the month at 5PM
          </p>
        </div>
      </div>

      <div class="w-100 grow mb3">
        <h1 class="lh-title ttu f4">Outreach</h1>
        <div class="">
          <p class="f6 f5-ns lh-copy mv0">
            Second and fourth Saturday at 4PM
          </p>
        </div>
      </div>
    </div>

    <div class="w-100 flex flex-column items-center">
      <a href="#contact" class="f6 fw6 no-underline grow black ba b2 b--black pa3 sans-serif ttu tracked">Get more info</a>
    </div>

  </div>
</article>
