<article class="flex flex-column items-center pa3 black bg-yellow sans-serif pv4 pv5-m pv6-l" id="team">
  <div class="flex flex-column w-100 mw7">

    <h1 class="sans-serif ttu tracked w-100 bb pb2 bw2 b--black border-box mb4">Team</h1>

    <div class="flex flex-row flex-wrap justify-around">

      <article class="border-box grow w-100 bg-white br3 pa3 pa4-ns mv3 mh2 ba b--black-10" style="max-width:22rem;">
        <div class="tc">
          <div class="cover ba b--light-gray br-100 h4 w4 center" style="background:url(https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-0/p640x640/45583896_10210064239121284_3732254948759437312_o.jpg?_nc_cat=111&_nc_ohc=7x55u9WTEAcAX-uxl28&_nc_ht=scontent-syd2-1.xx&_nc_tp=1002&oh=522304d9512d2bb81e68ccbd6980c400&oe=5ED400AE) center;"></div>
          <h1 class="f4">Pas Vinojit Appathurai</h1>
          <hr class="mw3 bb bw1 b--black-10">
        </div>
        <p class="lh-copy measure center f6 black-70 tc">
          Senior Pastor
        </p>
      </article>

      <article class="border-box grow w-100 bg-white br3 pa3 pa4-ns mv3 mh2 ba b--black-10" style="max-width:22rem;">
        <div class="tc">
          <div class="cover ba b--light-gray br-100 h4 w4 center" style="background:url(https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/13886478_10208269655757278_669319733442383948_n.jpg?_nc_cat=106&_nc_ohc=5PAHhsEipuMAX8vo2T5&_nc_ht=scontent-syd2-1.xx&oh=7b4f4151a3716a64a988ed9ed8850f4e&oe=5E8E68DA) center;"></div>
          <h1 class="f4">Sis Annet Appathurai</h1>
          <hr class="mw3 bb bw1 b--black-10">
        </div>
        <p class="lh-copy measure center f6 black-70 tc">
          Sunday School and Women's Ministry Leader
        </p>
      </article>

      <article class="border-box grow w-100 bg-white br3 pa3 pa4-ns mv3 mh2 ba b--black-10" style="max-width:22rem;">
        <div class="tc">
          <div class="cover ba b--light-gray br-100 h4 w4 center" style="background:url(https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/23794772_1587748827969879_569557398186532177_n.jpg?_nc_cat=109&_nc_ohc=Qb8y1lyQFuUAX9hcpqG&_nc_ht=scontent-syd2-1.xx&oh=d220ba201ce81ea8d4d3948f8fede561&oe=5EA2D885) center;"></div>
          <h1 class="f4">Bro Naveen Jones</h1>
          <hr class="mw3 bb bw1 b--black-10">
        </div>
        <p class="lh-copy measure center f6 black-70 tc">
          Youth Ministry Leader
        </p>
      </article>

      <article class="border-box grow w-100 bg-white br3 pa3 pa4-ns mv3 mh2 ba b--black-10" style="max-width:22rem;">
        <div class="tc">
          <div class="cover ba b--light-gray br-100 h4 w4 center" style="background:url(https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-1/p100x100/1609598_10151936130266238_1346506964_n.jpg?_nc_cat=100&_nc_ohc=6sWABMC9l6QAX__nBKx&_nc_ht=scontent-syd2-1.xx&_nc_tp=1002&oh=978e254a127a5c80e0f32f0e6e8231e2&oe=5E9C28F0) center;"></div>
          <h1 class="f4">Bro Felix Prudentius</h1>
          <hr class="mw3 bb bw1 b--black-10">
        </div>
        <p class="lh-copy measure center f6 black-70 tc">
          Men's Ministry Leader
        </p>
      </article>

    </div>

  </div>
</article>
