<article class="flex flex-column items-center pa3 white bg-black sans-serif pv4 pv5-m pv6-l" id="times">
  <div class="flex flex-column w-100 mw7">

    <h1 class="sans-serif ttu tracked w-100 bb pb2 bw2 b--white border-box mb4">Service Times</h1>

    <div class="flex flex-column flex-row-ns justify-between-ns">
      <div class="w-40-ns mb4 mb0-ns">
        <div class="mb4">
          <p class="f4 f3-ns b ttu sans-serif ma0 mb2">Sunday Service</p>
          <p class="f5 ttu sans-serif ma0">Sundays, 3pm</p>
        </div>

        <div class="">
          <p class="lh-copy ma0 mb2 f5 sans-serif fw3">Services are held in Tamil, with English translation available.</p>
          <p class="lh-copy ma0 mb2 f5 sans-serif fw3"><span class="fw6">Sunday School</span> runs during the service time, and is in English and Tamil.</p>
          <p class="lh-copy ma0 mb2 f5 sans-serif fw3">Please do <a href="#contact" class="white mb1">get in contact</a> for updates regarding services.</p>
        </div>
      </div>
      <div class="w-50-ns">
        <p class="white sans-serif lh-copy f5 fw3 tr-ns ma0 mb3">
          Our services are run regularly at our Sunshine Campus:
        </p>

        <div class="mb4">
          <p class="f4 f3-ns b ttu sans-serif ma0 mb2 tr-ns">Sunshine Uniting Church</p>
          <p class="f5 lh-copy ttu sans-serif ma0 mb2 tr-ns">32 Withers St, Sunshine VIC 3020</p>
          <p class="f5 lh-copy sans-serif ma0 tr-ns">(~200 metres from Sunshine Railway Station)</p>
        </div>

        <div class="h5 mb4">
          <iframe src="https://www.google.com/maps/embed?pb=!4v1579475950660!6m8!1m7!1se27JWhU6ZojtJHNPWlyvHQ!2m2!1d-37.78535152798061!2d144.8339236683399!3f86.8885417495281!4f4.703370551028442!5f0.7820865974627469" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

        <div class="w-100 flex flex-column items-center">
          <a href="https://goo.gl/maps/8un4HzaqzprCLfLQ8" class="f6 no-underline grow white ba b--white pa3 sans-serif ttu tracked">See on Google Maps</a>
        </div>
      </div>
    </div>

  </div>
</article>
